

.sidebar {
  width: 30em;
  background-color: rgb(95, 95, 95);

}

.sidebar ul {
  color: rgb(249, 204, 11);
}

.sidebar li {
  margin-bottom: 10px;
  cursor: pointer;
}

.sidebar li:hover {
  color: #b6b6b6;
  /* background-color: #333; */
}

.searchbar {
    margin-bottom: 10px;
}

.saved-items {
  position: relative;
}

.navbar {
  background: none;
}