.hero {
    background: linear-gradient(203deg,rgba(140, 98, 225, 0.867) 8.4%,rgba(38, 238, 201, 0.126) 30.67%, rgba(190, 247, 251, 0.333) 70.04%,hsla(270, 11%, 93%, 0.938) 100%);
}

.hero-body {
    display:flex;
    justify-content: center;
 
}

.header-image {
    width: 30%;
    position: relative;
}



.home {
    color: rgb(249, 204, 11)
    
}

hr .break {
    z-index: 50;
}