/* .submenu {
    top:0;
    left:100%;
    position:relative;           
}

.submenu {
    position: relative;
    left: 10%;
} */

.list-menu ul li a {
    color:rgb(249, 204, 11);
}

.list-menu button {
    border: 1px solid rgb(249, 204, 11);
    border-radius: 5px;
    margin-left: 2px;
    width: 2em;
}

.list-menu > ul > li:first-child {
    display: none;
  }

.submenu{
    border-left: 1px solid rgb(249, 204, 11);
    margin-left: 2em;
    padding-left: 2px;
}


/* .submenu li:hover {
    color: gray;
} */

.dropdown-menu .submenu li:hover {
    background-color: gray;
  }